/*
* File: style.css
* Author: Borbély Gergő Árpád
* Copyright: 2023, Borbély Gergő Árpád
* Date: 2023-05-19
* Web: https://github.com/Gergo06-py/ships
* Licenc: MIT
*/

footer {
  width: 100vw;
}

.idezet {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1em;
}
